<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <title>{% block title %} {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"  type="text/css"/>
    <style>
        #eye {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  background: currentColor;
  border-radius: 70% 0 / 70%;
  transform: rotate(45deg);
}
#eye::before,
#eye::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  background: #fff;
  border-radius: 100%;
}
#eye::after {
  width: 30%;
  height: 30%;
  top: 35%;
  left: 35%;
  background: inherit;
}
    </style>
</head>
<body>
    <div class="container" style="background-color: #1F75FE">
        <nav class="navbar navbar-expand-lg navbar-light" >
                <a class="navbar-brand" > <font color="White"><h4>Yummy Arts</h4> </font> </a>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/"><font color="White">Home</font></a></li>
                <li class="nav-item"> <a class="nav-link" href="/AllPhoto"><font color="White">All photo</font></a></li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item"> <a class="nav-link" href="/authorization/profile"><font color="White">My profile </font></a></li>
                    <li class="nav-item"> <a class="nav-link" href="/MyPhoto"><font color="White">My photo </font></a></li>
                    <li class="nav-item"> <a class="nav-link" style="margin-left: 420px;" href="/authorization/logout"><font color="White">{{ user }}(logout) </font></a></li>
                {% else %}
                    <li class="nav-item"> <a class="nav-link" href="/authorization/login"><font color="White">My photo </font></a></li>
                    <li class="nav-item"> <a class="nav-link" href="/authorization/login"><font color="White">My profile </font></a></li>
                    <li class="nav-item"> <a class="nav-link" style="margin-left: 420px;" href="/authorization/login"><font color="White"> Sign in</font></a></li>
                {% endif %}
            </ul>
          </div>
        </nav>
</div>
{% block content %}
{% endblock %}
    </body>
</html>