{% extends 'default.html' %}
{% block title %} {{ pic.name }} {% endblock %}

<style>
   .blue { background-color: #1F75FE; }
   .wdth {height: 150px; width: 150 px;}
   .bgcolor { background-color: #F8F8FF; }
</style>
{% block content %}
<div class="container blue" style="background-color: #1F75FE; margin-top: 100px;">
    <a name="post">
        <img src="{{ pic.post.url }}" class="img-fluid wdth bgcolor" alt="">
    </a>
    <div class="item-info-product">
        <ul>
            <li style="color: white;">Название: {{ pic.name }}</li>
            <li style="color: white;">Просмотры: {{ pic.view }} <a style="color: black;" id="eye"> </a></li>
            <li style="color: white;">Тэг: {{ pic.tag.name }}</li>
        </ul>
    </div>
</div>
{% endblock %}