{% extends 'default.html' %}
{% block title %} Регистрация {% endblock %}

{% block content %}
<style>
   .blue {background: #1F75FE; }
   .index{color: White;}
  </style>
<div class="container" style=" margin-top: 70px; font-family=Verdana;">
    <H2 class="text-center"><font color="White" >Registration</font></H2>
    <form class="index" action="" method="POST" style="margin-left: 380px;">
        {% csrf_token %}
    <table class="">
        {{ reg_form.as_table }}
    </table>
        <input  style="margin-left: 230px; margin-top:10px;"  type="submit" class="btn purple btn-md index" value="Join us!" name="regbut">
</form>

</div>


{% endblock %}